@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 
 *, *:before, *:after {
	box-sizing: border-box;
 }
 
 :focus, :active {
	outline: none;
 }
 
 a:focus, a:active {
	outline: none;
 }
 
 nav, footer, header, aside {
	display: block;
 }
 
 html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 
 input, button, textarea {
	font-family: inherit;
 }
 
 input::-ms-clear {
	display: none;
 }
 
 button {
	cursor: pointer;
 }
 
 button::-moz-focus-inner {
	padding: 0;
	border: 0;
 }
 
 a, a:visited {
	 color: inherit;
	text-decoration: none;
 }
 
 a:hover {
	text-decoration: none;
	filter: brightness(70%);
 }
 
 ul li {
	list-style: none;
 }
 
 img {
	vertical-align: top;
 }
 
 h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
 }

body {
	font-family: "Exo", sans-serif;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
}

body ._lock {
	overflow: hidden;
}
/*--------------------*/


/* Основные обертки*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 1 auto;
}

.container {
	padding: 0px 20px;
	max-width: 1256px;
	margin: 0px auto;
}

/*--------------------*/


/* секция HEADER */

.background-fill { 
	perspective: 400px;
	position: relative;
	background: linear-gradient(100deg, #0C0D20 49.9%, #F7523B 50%, #EC8349 111.13%);
	}

.background-fill::before {
	display: block;
	content: '';
	width: 100%;
	height: 3%;
	bottom: -4%;
	right: 0;
	background-color: #fff;
	position: absolute;
	transform: skewY(-1deg) scale(6);
	z-index: 7;
}

.header {
	margin-top: 50px;	
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.header__logo {
	z-index: 8;
}

.header__menu {
margin-top: 10px;
}

.menu__body{
	align-self: center;
}

.menu {
	display: flex;
}

.menu__links a {
	padding: 5px;
	cursor: pointer;
	font-weight: 500;
	font-size: 18px;
	color: #F2F8FA;
	margin-left: 50px;
	transition: all 0.3s ease 0s;
}

.menu__links a:hover{
	color:#0C0D20;
}

.menu__links-social {
	visibility: hidden;
}


@media (max-width: 768px) {

	.menu__body{
		align-self: center;
	}
	
	.menu {
		display: flex;
	}

	.menu__icon {
		z-index: 7;
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		cursor: pointer;
		align-self: center;
	}

	.menu__icon._active span {
		transform: scale(0) translate(0, -50%);
		opacity: 0;
	}

	.menu__icon._active::before {
		top: 50%;
		transform: rotate(45deg);
	}

	.menu__icon._active::after {
		top: 50%;
		transform: rotate(-45deg);
	}

	.menu__icon::before,
	.menu__icon::after,
	.menu__icon span {
		position: absolute;
		width: 100%;
		height: 10%;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}

	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}

	.menu__icon::before {
		top: 0;
	}

	.menu__icon::after{
		bottom: 0;
	}

	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}

	.menu__body {
		z-index: 6;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(12, 13, 32, 0.98);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}

	.menu__body._active {
		left:0;
	}

	.menu__links {
		display: flex;
		flex-direction: column;
		align-content: center;
		margin-top: 100px;
	}
	
	 .menu__links a {
		text-align: center;
		 margin-left: 0;
		font-weight: 500;
		font-size: 28px;
		color: #F2F8FA;
		margin-top: 50px;
	 }

	 .menu__links-social {
		margin-top: 50px;
		border-top: 4px #eb523a solid;
		align-self: center;
		visibility: visible;
		 
	 }

	 .menu__links-social svg {
		 margin-top: 20px;
	 }
}

/*--------------------*/

/* секция MAINSCREEN */

.main-screen__social-block {
	position: absolute;
	top: 10%;
   left: -15%;
}

.main-screen__icon {
	position: relative;
	cursor: pointer;
	opacity: 40%;
	transition: all 0.3s;
	display: flex;
	align-items: flex-end;
}

.main-screen__social-network {
	display: flex;
	align-items: flex-end;
}

.main-screen__icon-text{
margin-left: 10px;
opacity: 0;
}

.main-screen__icon::before {
	content: '';
	position: absolute;
	width: 0%;
	height: 2px;
	background: linear-gradient(#FA533B , #EC8349);
	bottom: 0;
	transition: all 0.3s ease;
}

.main-screen__icon:hover::before {
	animation: animation__line;
	animation-duration: 0.7s;
	animation-fill-mode: forwards;
}

.main-screen__icon:hover + .main-screen__icon-text {
	transition: opacity 0.5s ease;
	opacity: 1;
	
}

@keyframes animation__line {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
		visibility: visible;
	}
}

.main-screen__icon:hover {
	opacity: 1;
}

.main-screen__hitext{
	font-weight: normal;
	font-size: 18px;
	color: #FFFFFF;
	opacity: 0.75;
}

.main-screen__hitext span {
color: #EC8349;
}

.main-screen__content {
	display: flex;
	position: relative;
}

.main-screen__information {
	order: 0;
	/* flex: 0 0 50%; */
	display: flex;
	justify-content:flex-start;
	flex-direction: column;
}
.main-screen__title-block {
	margin-top: 50px;
}

.main-screen__title-block h1 {
	font-weight: bold;
	font-size: 88px;
	line-height: 140%;
}
.main-screen__h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-weight: normal;
	font-size: 48px;
}

.main-screen__description {
	width: 90%;
	margin-top: 25px;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #FFFFFF;
	opacity: 0.75;
}
.main-screen__button-block {
	margin-top: 60px;
	display: flex;
}

.main-screen__author {
position: relative;
display: flex;
justify-content: space-between;
}

.main-screen__author img {
}

.main-btn {
	display: inline-block;
	/* background-color: #0C0D20; */
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	width: 200px;
	height: 60px;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #F2F8FA;
	border: 2px solid transparent;
	border-image: linear-gradient(#FA533B , #EC8349);
	-moz-border-image: -moz-linear-gradient(#FA533B , #EC8349);
	-webkit-border-image: -webkit-linear-gradient(#FA533B , #EC8349);
	border-image-slice: 1;
}

	
.main-btn:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0C0D20;
	z-index: -2;
}

.main-btn:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: #FA533B;
	transition: all 0.3s;
	z-index: -1;
}

.main-btn:hover {
	color: #fff;
}

.main-btn:hover:before {
	width: 100%;
}

.no-frame-btn {
	margin-left: 20px;
	width: 200px;
	height: 60px;
	background: none;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #F2F8FA;
	transition: all 0.3s;
}

.no-frame-btn:hover {
	color: #eca074;
}

@media (max-width: 1600px) {

	.main-screen__social-block{
		margin-top: 20px;
		padding: 0px;
		position: inherit;
		display: flex;
		align-items: flex-end;
	}	
	
	.main-screen__social-network {
		display: flex;
		flex-direction: column;
	}
	
	.main-screen__icon-text{
		visibility: hidden;
	}

	.main-screen__title-block {
		margin-top: 10px;
	}
}

@media (max-width: 1000px) {

	.main-screen__content {
		flex-direction: column;
		align-items: center;
	}


}



/* 

.toTop {
	background: rgb(255, 255, 255) url("../img/icons/arrow-down.svg") center center no-repeat;
	width: 80px;
	height: 80px;
	cursor: pointer;
	position: fixed;
	bottom: 150px;
	right: 100px;
	border-radius: 50px;
	border: #f8f3f0 10px solid;
	opacity: 30%;
	z-index: 30;
	display: none;
	transition: all 0.3s ease 0s;
}

.toTop:hover {
	opacity: 80%;
	transform: scale(1.1);
	transform: translateY(10px);
}






.about {
	z-index: 15;
}
.about__top {
	margin-top: 50px;
	display: flex;
}
.about__title {
	flex: 0 0 15%;
	font-weight: bold;
	font-size: 50px;
	line-height: 66px;
	color: #0C0D20;
	position: relative;
	
}

.about__title span {
	position: absolute;
	top: 20px;
	left: 100px;
	color:#FA533B ;
}

.about__title-description {
	font-weight: 600;
	font-size: 24px;
	line-height: 140%;
	color: #0C0D20;
}

.about__description {
	flex: 0 0 60%;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	color: #585972;
	margin-left: 50px;
}

.about__subtitle {
	margin-top: 25px;
}

.about__skills {
	position: relative;
	margin-top: 70px;
	padding: 70px 70px 100px 70px;
	background: #F2F8FA;
	display: flex;
	justify-content: space-between;
}

.about__skills::before {
	display: block;
	content: '';
	width: 100%;
	height: 3%;
	bottom: -4%;
	right: 0;
	background-color: #fff;
	position: absolute;
	transform: skewY(-1deg) scale(6);
}


.about__item {
	flex: 1 1 300px;
	padding-left: 30px;
}

.about__item:first-child{
	padding-left: 0px;
}

.about__discipline {
	margin-top: 25px;
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
	color: #FA533B;
}
.about__text {
	margin-top: 12px;
	color: #585972;
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
}

.about__elem {
	position: absolute;
	right: -40px;
	top: -60px;
}

@media (max-width: 1730px) {
	
}

@media (max-width: 1000px) {

	

	.about__skills {
		padding: 70px 70px;}
	
}


@media (max-width: 768px) {

	.about__top {
		margin-top: 40px;
		display: flex;
		flex-direction: column;
	}
	.about__title {
		flex: 0 0 15%;
		font-weight: bold;
		font-size: 50px;
		line-height: 66px;
		color: #0C0D20;
		
	}
	
	.about__title span {
		position: absolute;
		top: 20px;
		left: 100px;
		color:#FA533B ;
	}
	
	.about__description {
	margin-top: 40px;
	margin-left: 0;
	}

	.about__title-description {
		font-weight: 600;
		font-size: 24px;
		line-height: 140%;
		color: #0C0D20;
	
	}

	.main-screen__author img {
		max-width: 100%;
		
	}

	
	
	.main-screen__hitext{
		font-weight: normal;
		font-size: 18px;
		color: #FFFFFF;
		opacity: 0.75;
	}
	
	.main-screen__hitext span {
	color: #EC8349;
	}
	
	.main-screen__title-block {
		margin-top: 100px;
	}
	
	.main-screen__title-block h1 {
		font-weight: bold;
		font-size: 80px;
		line-height: 130%;
	}
	.main-screen__h2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: normal;
		font-size: 42px;
	}
	
	.main-screen__description {
		max-width: 70%;
		margin-top: 30px;
		font-weight: normal;
		font-size: 16px;
		line-height: 140%;
		color: #FFFFFF;
		opacity: 0.75;
	}

	.main-screen__content {
		flex-direction: column;
  }



	.about__skills {
		flex-direction: column;
		justify-content: flex-start;
		margin-top: 70px;
		padding: 70px 70px 0px 70px;
	}

	.about__skills::before {
		height: 0%;
	}
	
	.about__item {
		display: flex;
		flex: 0 0 150px;
		padding-left: 0px;
	}

	.about__item:last-child {
		padding-bottom: 0px;
	}

	.about__icon {
		flex: 0 0 84px;
	}

	.about__discipline {

		flex: 0 0 160px;
	}

	.about__text {
		flex: 1 0 250px;
		justify-self: end;
		margin-left: 30px;
	}

	.about__skills {
		padding: 70px 30px;
	}

	.about__item {
		flex-direction: column;
		margin-top: 50px;
	}

	.about__item:first-child {
		margin-top: 0px;
	}

	.about__icon {
		flex: 0 0 57px;
		align-self: center;
	}

	.about__discipline {
		align-self: center;
		flex: 0 0 40px;
	}

	.about__text {
		text-align: center;
		align-self: center;
		flex: 1 0 50px;
		max-width: 450px;
		margin-left: 0px;
	}


	

	 .project__text {
		 font-size: 16px;
	 }

	 .main-screen__social-block {
		 display: none;
	 }

}



@media (max-width: 320px) {

	.main-btn {
		width: 100%;
		height: 60px;
		font-size: 14px;
	}

	.no-frame-btn {
		width: 100%;
		height: 60px;
		font-size: 14px;
		margin-left: 0;
	}

	.main-screen__title-block {
		margin-top: 60px;
	}

	.main-screen__title-block h1 {
		margin-top: 10px;
		font-weight: bold;
		font-size: 40px;
		line-height: 130%;
		text-align: left;
	}

	.main-screen__button-block {
		flex-direction: column;
		align-items: center;
	}

	.main-screen__description {
		max-width: 100%;
		text-align: left;
		font-size: 14px;
		line-height: 140%;
	}

	.main-screen__information {
		text-align: center;
	}

	.main-screen__h2 {
		text-align: left;
	}

	.main-screen__hitext {
		text-align:  left;
	}
}

.my-portfolio {
}

.my-portfolio__wrapper {
	margin-top: 80px;
}

.my-portfolio__title {
	flex: 0 0 15%;
	font-weight: bold;
	font-size: 50px;
	line-height: 140%;
	color: #0C0D20;
	position: relative;
}

.my-portfolio__title span {
	position: absolute;
	top: 20px;
	left: 100px;
	color:#FA533B ;
}

.my-portfolio__projects {
	margin-top: 100px;
}

.my-portfolio__project {
	margin-top: 150px;
}

.my-portfolio__project:nth-child(1) {
	margin-top: 0px;
}

.project {
	display: flex;
}


.project__left-side--blue {
	order: 1;
}

.project__left-side--blue::after{
	left:-20%;
	top:-7%;
	border: #F2F8FA 90px solid;
	
}

.project__right-side--blue {
	margin-left: 40px;
	order: 2;
}


.slider--blue {
	margin-left: -70px;
}


.project__left-side--orange {
	order: 2;
}

.project__left-side--orange::after{
	right:-26%;
	top:-7%;
	border: #FCF4F3 90px solid;
}

.project__right-side--orange {
  order: 1;
  margin-right: 40px;
}

.project__right-side--orange::after {
	right:0;
	top:0;
}

.slider--orange {
margin: 0;
}

.project__main-title--orange {
	margin-left: 70px;
}

.project__subtitle--orange {
	margin-left: 70px;
}

.project__button-area--orange{
	margin-left: 70px;
}

.project__left-side {
	position: relative;
	z-index: 3;
	flex-wrap: wrap;
}

.project__left-side::after {
	content: '';
	position: absolute;
	width: 690px;
	height: 580px;
	background-color: #fff;
	z-index: 1;
}

.project__subtitle {
	position: relative;
	z-index: 2;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #ADBAC1;
}

.project__main-title {
	position: relative;
	z-index: 2;
	margin-top: 15px;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	color: #0C0D20;
	max-width: 60%;
}

.project__slider {
	position: relative;
	z-index: 5;
}

.project__slider img {
}

.project__button-area {
	margin-top: 50px;
	position: relative;
	z-index: 2;
}

.button-filled {
	background: linear-gradient(87.3deg, #FA533B -29.45%, #EB5944 15.74%, #EC8349 111.13%);
	color: #fff;
	box-shadow: 7px -1px 18px 0px rgba(27, 62, 78, 0.3);
	width: 173px;
	height: 60px;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	transition: 0.3s ease;
}

.button-filled:hover {
	box-shadow: 3px -1px 18px 0px rgba(27, 62, 78, 0.2);
	background: linear-gradient(87.3deg, #f8482d -29.45%, #eb523a 15.74%, #ee7b3e 111.13%);
}

.button-framed {
	display: inline-block;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	margin-left: 30px;
	width: 182px;
	height: 60px;
	font-size: 18px;
	text-transform: uppercase;
	color: #F7523B;
	border: 2px solid transparent;
	border-image: linear-gradient(#FA533B , #EC8349);
	-moz-border-image: -moz-linear-gradient(#FA533B , #EC8349);
	-webkit-border-image: -webkit-linear-gradient(#FA533B , #EC8349);
	border-image-slice: 1;
}

.button-framed::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	z-index: -2;
}

.button-framed::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: rgb(247, 247, 247);
	transition: all 0.3s;
	z-index: -1;
}

.button-framed:hover {
	color: #0C0D20;
 }
 
 .button-framed:hover:before {
	width: 100%;
 }

.project__right-side {
	position: relative;
	z-index: 5;
}

.project__description {
	margin-top: 45px;
	font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #ADBAC1;
	z-index: 2;
	position: relative;
}

.project__description:nth-child(1) {
	margin-top: 0;
}

.project__text {
	margin-top: 10px;
	font-weight: normal;
	font-size: 18px;
	line-height: 140%;
	color: #0C0D20;
	text-transform: none;
	z-index: 2;
	position: relative;
}

.project__text span {
	color: #F7523B;
}

.my-portfolio__more {
}

.button-white {
	margin-top: 75px;
	width: 100%;
	height: 60px;
	background: #fff;
	border: 2px solid #d1d2db;
	font-weight: normal;
	font-size: 18px;
	text-transform: uppercase;
	color: #585972;
	opacity: 0.7;
	transition: all 0.3s ease;
}

.button-white::before{
	transition: all 0.3s ease;
	content: '';
	display: inline-block;
	background: url("../img/icons/down.svg") -3px 5px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.button-white:hover {
	opacity: 1;
}


@media (max-width: 1000px) {

	.project {
		flex-direction: column;
		align-items: center;
	}

	.project__main-title {
		margin-left: 70px;
	}

	.project__left-side--blue::after{
		left: -20%;
		top:-7%;
	}

	.project__right-side {
		margin-top: 40px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.project__button-area {
		display: flex;
		justify-content: center;
		order: 4;
		margin-left: 0px;
	}

	.project__description {
		margin-top: 0px;
		padding: 20px 20px;
		flex: 1 1 49%;
		align-self:baseline;

	}


	.project__right-side--blue {
	margin-left: 0;
	}

	.project__subtitle--blue {
	margin-left: 70px;
	}

	.slider--blue {
		margin-left: 0px;
	}


.project__right-side--orange {
	margin-right: 0px;
	order: 2;
	}

.project__left-side--orange {
	order: 2;
	}

.project__left-side--orange::after {
	right: -20%;
   top: -7%;
	}
	}


	.getintouch {
	}

	.background__fill--orange {
		perspective: 400px;
		position: relative;
		background: linear-gradient(180deg, rgba(220, 78, 65, 0) -5.38%, rgba(220, 78, 65, 0) 50.25%, rgba(220, 78, 65, 0) 64.91%, #0C0D20 64.91%, #0C0D20 100%), linear-gradient(87.3deg, #FA533B -29.45%, #EB5944 15.74%, #EC8349 111.13%);
	}

	.background__fill--orange::before {
		display: block;
		content: '';
		width: 100%;
		height: 3%;
		top:0;
		right: 0;
		background-color: #fff;
		position: absolute;
		transform: skewY(-1deg) scale(6);
	}

	
	.getintouch__content {
		margin-top: 120px;
		display: flex;
		flex-wrap: wrap;
	}

	.getintouch__leftside {
		display: flex;
		flex-direction: column;
		flex: 1 1 50%;
		justify-items: start;;
		
	}

	.getintouch__title {
	margin-top: 130px;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 66px;
	color: #FFFFFF;
	position: relative;
	}

	.getintouch__title span {
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 130%;
	color: #0C0D20;
	position: absolute;
	top: 20px;
	left: 130px;
	}

	.getintouch__information {
	margin-top: 40px;
	font-weight: normal;
	font-size: 18px;
	line-height: 170%;
	color: #F2F8FA;
	padding-right: 20px;
	}

	.getintouch__information span {
		font-weight: 500;
		color: #0C0D20;
	}

	.getintouch__icon-area {
		margin-top: 20px;
		display: flex;
	}

	.getintouch__icon {
		padding-right: 15px;
	}

	.getintouch__rightside {
		flex: 1 1 50%;
		display: flex;
		align-self: flex-start;
	}

	.getintouch__form {
		display: flex;
		flex-direction: column;
		width: 100%;
		background: #F2F8FA;
		padding: 42px 50px 65px 50px;
		z-index: 5;
	}

	.form__message, .form__select {
		padding-top: 30px;
		
	}

	.form__message:focus, .form__select:focus{
		border-bottom-color: #EC8349;
	}

	

	select {
      width: 100%;
      height: 50px;
      font-size: 19px;
      cursor: pointer;
      background-color: #FFF;
      border: none;
		font-family: Exo;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
      border-bottom: 2px solid #f8f8f8;
      color: #585972;
      appearance: none;
      padding: 12px 23px;
      -webkit-appearance: none;
      -moz-appearance: none;
      transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
    }

	  select::-ms-expand {
      display: none; 
    }

	 .select {
		position: relative;
	}
	 .select-icon {
      position: absolute;
      top: 6px;
      right: 20px;
      width: 30px;
      height: 36px;
      pointer-events: none;
      padding-left: 5px;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }

	    select:hover,
    select:focus {
      color: #0C0D20;
      background-color: white;
      border-bottom-color: #EC8349;
    }

.label {
	color: #585972;
	line-height: 300%;
}

	#POST-email {
		border-bottom: 2px solid transparent;
		color: #585972;
		width: 100%;
		height: 50px;
		padding: 12px 23px;
		font-size: 19px;
		cursor:text;
		transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
	}

	#POST-email:focus, 
	#POST-email:hover {
		color: #0C0D20;
		
		border-bottom-color: #EC8349;
	}

	#POST-message:focus, 
	#POST-message:hover {
		color: #0C0D20;
		border-bottom-color: #EC8349;
	}
	

	#POST-message {
		resize: none;
		border-bottom: 2px solid transparent;
		font-family: Exo;
		font-style: normal;
		font-weight: normal;
		font-size: 19px;
		width: 100%;
		height: 150px;
		padding: 12px 23px;
		font-size: 19px;
		color: #585972;
		cursor:text;
		transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
		
	}

	.button-filled--form {
		margin-top: 32px;
		width: 210px;
		}


		.getintouch__logo {
		}

@media (max-width: 1000px) {
	.background__fill--orange::before {
		height: 1%;
	}

	.getintouch__form {
		margin-top: 20px;
	}

	.getintouch__logo{
		margin-top: 20px;
	}

	.toTop {
		bottom: 15%;
		right: 5%;
	}
}


		.footer__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		display: flex;
		padding: 40px 0px;
		}

		.footer {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 140%;
		color: #585972;
		}


.extra {
	}
	
._invisible {
	display: none;
}

._up::before {
	background: url("../img/icons/down.svg") 0px -3px;
	transform: rotate(180deg);
}




.icon__develope g path {
	transition: all 0.8s ease-out;
}

.icon__design g path {
	transition: all 0.8s ease-out;
}

.icon__vue g path {
	transition: all 1s ease-out;
}


@media (max-width: 480px) {

	.getintouch__logo {
		margin-top: 60px;
	}

	.getintouch__title span{
		top: 20px;
		left: 100px;
	}
	
	.getintouch__information {
		margin-top: 20px;
		font-size: 16px;
	}
	.getintouch__content {
		margin-top: 80px;
	}

	.project {
		margin-top: 70px;
	}
	
	.project__text {
		font-size: 14px;
	}

	.project__right-side {
		margin-top: 30px;
	}

	.project__main-title {
		font-size: 22px;
		line-height: 140%;
		max-width: 100%;
		margin-left: 0px;
		text-align: center;
	}

	.main-screen__button-block,
	.project__button-area,
	.project__button-area--orange {
		margin-top: 30px;
		flex-direction: column;
		align-items: center;
		
	}

	.main-screen__button-block,
	.project__button-area button,
	.project__button-area--orange button {
		width: 100%;
		font-size: 14px;
	}

	.project__subtitle--blue,
	.project__subtitle--orange {
		margin-left: 0;
		text-align: center;

	}

	.button-framed {

		margin: 20px 0px 0px 0px;
	}

	.button-white {
		margin-top: 40px;
	font-size: 14px;
	}

	.project__subtitle {
		font-size: 16px;
	}

	.project__slider {
		display: flex;
		justify-content: center;
	}

	.project__description {
		flex: 0 1 auto;
	}

	.my-portfolio__title,
	.my-portfolio__title span,
	.getintouch__title,
	.getintouch__title span {
		font-size: 40px;
	}

	.about__top {
		margin-top: 0px;

	}
	.about__title {
		font-size: 40px;
	}
	
	
	.about__title-description {
		font-size: 20px;
	
	}

	.about__discipline {
		font-size: 20px;
	}

	
	
	.about__description {
		font-size: 17px;
	}

	.about__subtitle {
		margin-top: 10px;
		font-size: 16px;
	}


	.main-btn {
		width: 90%;
		height: 60px;
		font-size: 14px;
	}

	
	.no-frame-btn {
		width: 90%;
		height: 60px;
		font-size: 14px;
		margin-left: 5px;
	}

	.main-screen__hitext{
		font-size: 16px;
		color: #FFFFFF;
		opacity: 0.75;
	}
	
	.main-screen__hitext span {
	color: #EC8349;
	}
	
	.main-screen__title-block {
		margin-top: 80px;
	}
	
	.main-screen__title-block h1 {
		font-weight: bold;
		font-size: 54px;
		line-height: 130%;
	}
	.main-screen__h2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-weight: normal;
		font-size: 32px;
	}
	
	.main-screen__description {
		margin-top: 30px;
		line-height: 140%;
		font-size: 16px;
		max-width: 100%;
	}

	.main-screen {
		flex-direction: column;
  }
} */